<h1 class="text-center">LoginV0.4</h1>
<div class="container" style="margin-top:20%">
  <div class="text-center">
    <img src="./assets/img_avatar.png" alt="Avatar" style="border-radius:50%;width: 100px">
    <!--<i class="fa fa-user-circle-o text-center fa-5x" aria-hidden="true"></i>-->
  </div><br>
  <form #f="ngForm">
      <div class="row">
        <div class="col-12 form-group">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" required
           #Email="ngModel" name=email [(ngModel)]="email">
        </div>
        <div class="col-12 form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" id="passwordInput" placeholder="Password" required
            #Password="ngModel" name=password [(ngModel)]="password">
        </div>
      </div>
      <div class="container text-center">
        <button type="submit" class="btn btn-primary" [disabled]="f.invalid" (click)="login()">Login</button>
      </div>
  </form>
  <hr class="myhr"/>
  <p class="text-center" style="font-size:small">Dont't have an account?<span style="color:blue;cursor:pointer"
    (click)="apriRegistrazione()"> REGISTER HERE</span></p>
</div>

<!--
<div class="container text-center">
  <button type="submit" class="btn btn-primary" (click)="notify()">Notifica</button>
</div>
-->


<app-spinner *ngIf="loading"></app-spinner>

